@model IEnumerable<Jamui_Rantiy.Models.Agregar>

<h2>Lista Contactos</h2>

<p>
    <a asp-action="Create">crear</a>
</p>
<table class="table table-hover">
    <thead class="thead-dark">
        <tr>
                <th scope="col">
                    #
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Message)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Number)
                </th>
        </tr>
    </thead>

    <tbody>

    @foreach (var item in Model)
    {
        <tr>
            <th scope="row">
                <a asp-action="Edit" asp-route-id="@item.ID">Editar</a> |
            </th>
            <td>
                @Html.DisplayFor(modelItem => item.Message)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Number)
            </td>
        </tr>
    }        
    </tbody>    
</table>